@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather:wght@400;700;900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@500;600;700;800;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* common shared styles */
body{
    font-family: "Mulish", sans-serif;
}

.section-title{
    color: rgb(19, 19, 24);
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0px;

}

.center-title , .center-description{
    text-align: center
    
}

.center-description{
    margin-top: 24px;
    margin-bottom: 48px;
}



.text-light-gray{
    color: rgba(19, 19, 24, 0.7);
    line-height: 26px;
}

.text-semi-light-gray{
    color: rgb(90, 90, 93);
    line-height: 26px;
}

.destination-img-text{
    color: white;
    font-size:1.75rem;
    font-weight: 800;
    border-radius: 16px;

}
.primary-color{
    color: rgb(255, 84, 0);

}

.btn-primary{
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: white;
    border: 0;
    font-weight: 700;
    padding: 15px 25px;

}

/* header styles */
.header{
    max-width: 1170px;
    margin: 50px auto 0px;

}
/* nav styles */

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:20px;
}
.web-name{
    display: flex;
    gap: 15px;
    align-items: center;
}

.web-name img{
    width: 65px;
    height: 55px;

}

.nav-title{
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-pages > ul{
    display: flex;
    
}

.nav-pages li{
    list-style: none;
    margin-right: 40px;

}

.nav-pages li:last-child{
    margin-right: 0px;
}
#home{
    color: rgb(255, 84, 0);

}
.nav-pages li a{
    text-decoration: none;
    color: rgb(66, 66, 71);
    font-size: 1.1rem;
    font-weight: 400;
}

.nav .fa-solid{
    display: none;
    /* visibility: hidden; */
}

/* banner styles */
.banner{
    max-width: 1170px;
    margin: auto;
    color: white;
    text-align: center;
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%);
    background-image: url("../Images/Group 13 (1) (1).png");
    background-repeat: no-repeat;
    padding: 85px;
    border-radius: 16px;

}

.banner-title{
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 24px;
}

.header-description{
    max-width: 670px;
    margin: 0px auto;
    line-height: 26px;
    margin-bottom: 48px;
}

.finding-place{
    max-width: 770px;
    margin: auto;
    display: flex;
    /* justify-content: space-around; */
    gap: 20px;
    justify-content: center;
    /* align-items: center;  */
    /* grid-template-columns: repeat(4,170px); */
    /* grid-template-rows: 1; */
    background-color:rgba(255, 255, 255, 0.3);
    padding: 16px;
    border-radius: 8px;
}

.finding-place input{
    border-radius: 8px;
    border: 0;
    padding: 16px 10px;
    /* max-width: 170px; */
    
}

#btn{
    padding: 15px 40px 
}

/*main style */
main section{
    max-width: 1170px;
    margin: 100px auto;
}
/* sectionA styles */
.secA{
    display: flex;
    gap: 100px;
    justify-content: space-between;
}


/* sectionB styles */

.row{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.Maldives,.Indonesia{
    padding: 130px 230px;
    
}

.Maldives{
    background-image: url("../Images/Rectangle 5.png");
    background-repeat: no-repeat;


}
.Indonesia{
    background-image: url("../Images/Rectangle 8.png");
    background-repeat: no-repeat;


} 
.Srilanka{
    background-image: url("../Images/Rectangle 6.png");
    background-repeat: no-repeat;
    padding:  125px 130px;

}
.North-America{
    background-image: url("../Images/Rectangle 7.png");
    background-repeat: no-repeat;
}

.Kashmir{
    background-image: url("../Images/Rectangle 9.png");
    background-repeat: no-repeat;
}

.Bangladesh{
    background-image: url("../Images/Rectangle 11.png");
    background-repeat: no-repeat;
}

.Bandarban{
    background-image: url("../Images/Rectangle 10.png");
    background-repeat: no-repeat;
}




/* .row2{
                <img src="Images/Rectangle 7.png" alt="">
                <img src="Images/Rectangle 9.png" alt="">
 } 
 
 row3{
    <img src="Images/Rectangle 11.png" alt="">
                <img src="Images/Rectangle 10.png" alt="">
 }*/



/* 
.row p{
    background-image: url("../Images/Rectangle 5.png"),("../Images/Rectangle 8.png");
    /* background-repeat: no-repeat; 
/* }  */















/* phone responsive */
@media screen and (max-width:600px) {
/*website name related  */
    .web-name{
        gap: 10px;
        align-items: center;
    }
    .web-name img{
        width: 40px;
        height: 33px;
    
    }

    .nav-title{
        width: 280px;
        font-size: 1.5rem;
        margin-bottom: 15px;
    }


    .nav .fa-solid{
        display: block;
        margin-left: -200px;

    }
   

    .h, .p, .t, .b, .c{
        display: none;
    }
/* banner */

    .banner{
        padding: 30px;
    
    } 


    .banner-title{
        max-width: 225px;
        margin: 0px auto;
        font-size: 1.5rem;
    }

    .header-description{
        font-size: 0.8rem;
        line-height: 21px;
        margin-top: 8px;
        margin-bottom: 30px;
    }

    .finding-place{
        flex-direction: column;
    }

    /* secA */
    .secA{
        flex-direction: column;
        

        /* justify-content: center;
        align-items: center; */
    }

    .secA-column img{
        width: 100%;
    }


    

    
}

