@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather:wght@400;700;900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@500;600;700;800;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* common shared styles */

body{
    font-family: "Mulish", sans-serif;
}



.section-title{
    color: rgb(19, 19, 24);
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0px;

}

.center-title , .center-description{
    text-align: center
    
}

.center-description{
    margin-top: 24px;
    margin-bottom: 48px;
}



.text-light-gray{
    color: rgba(19, 19, 24, 0.7);
    line-height: 26px;
}

.text-semi-light-gray{
    color: rgb(90, 90, 93);
    line-height: 26px;
}

.destination-img-text{
    color: white;
    font-size:1.75rem;
    font-weight: 800;
    border-radius: 16px;

}
.primary-color{
    color: rgb(255, 84, 0);

}

.btn-primary{
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: white;
    border: 0;
    font-weight: 700;
    padding: 15px 25px;

}

.hide{
    display: none;
}

/* header styles */
.header{
    
    max-width: 1170px;
    margin: 50px auto 0px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.web-name{
    display: flex;
    gap: 15px;
    align-items: center;
}

.web-name img{
    width: 65px;
    height: 55px;

}

.web-title{
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-pages{
    display: flex;
    
}

.nav-pages li{
    list-style: none;
    margin-right: 40px;

}

.nav-pages li:last-child{
    margin-right: 0px;
}
#home{
    color: rgb(255, 84, 0);

}
.nav-pages li a{
    text-decoration: none;
    color: rgb(66, 66, 71);
    font-size: 1.1rem;
    font-weight: 400;
}

/* bar */
.bars{
    display: none;
}                                                                                                                                                                                                                                                                                                                        

/*main style */
main section{
    max-width: 1170px;
    margin: 100px auto;
}

/* banner styles */

.banner{
    margin-top: 0px;
}
.banner-wrapper{
    margin: 10px auto 0px ; 
    color: white;
    text-align: center;
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%);
    background-image: url("../Images/Group 13 (1) (1).png");
    background-repeat: no-repeat;
    /* width: 100%; */
    padding-top: 35px;
    padding-bottom: 100px;
    border-radius: 16px;

}

.banner-title{
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 24px;
}

.banner-description{
    max-width: 670px;
    margin: 0px auto;
    line-height: 26px;
    margin-bottom: 48px;
}

.finding-place{
    max-width: 770px;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.3);
    padding: 16px;
    border-radius: 8px;
}

.finding-place input{
    border-radius: 8px;
    border: 0;
    padding: 18px 10px;
    
}

#btn{
    padding: 15px 40px 
}

/* sectionA styles */
.secA{
    display: flex;
    gap: 100px;
    justify-content: space-between;
}
.tours{
    margin-top: 0px;
}

.secA-para1{
    margin-top: 24px;
    margin-bottom: 24px;
}

.secA-list li{
    margin-top: 0px;
    margin-bottom: 16px;
}

.secA-list li:last-child{
    margin-bottom: 0px;
}

.secA-para2{
    margin-top: 24px;
    margin-bottom: 30px;
}



/* sectionB styles */

.row{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    

}
.row:last-child{
    margin-bottom: 0px;

}
.row .Maldives,.Indonesia,.Srilanka,.North-America,.Kashmir,.Bangladesh,.Bandarban{
    margin: 0px;
    
}
.Maldives,.Indonesia{
    padding: 130px 225px;
    
}

.Maldives{
    background-image: url("../Images/Rectangle 5.png");
    background-repeat: no-repeat;


}
.Indonesia{
    background-image: url("../Images/Rectangle 8.png");
    background-repeat: no-repeat;


} 
.Srilanka{
    background-image: url("../Images/Rectangle 6.png");
    background-repeat: no-repeat;
    padding:  125px 130px;

}
.North-America{
    background-image: url("../Images/Rectangle 7.png");
    background-repeat: no-repeat;
    padding: 125px 137px;
}

.Kashmir{
    background-image: url("../Images/Rectangle 9.png");
    background-repeat: no-repeat;
    padding: 125px 80px;
}

.Bangladesh{
    background-image: url("../Images/Rectangle 11.png");
    background-repeat: no-repeat;
    padding: 130px 155px;

}

.Bandarban{
    background-image: url("../Images/Rectangle 10.png");
    background-repeat: no-repeat;
    padding: 130px 260px;

}

/* footer styles */
.footer{
    background: rgba(19, 19, 24, 0.05);
}
.footer-wrapper{
    text-align: center;
    padding: 100px 335px;
}

.footer-logo{
    justify-content: center;
    margin-top: 0px;
    margin-bottom: -30px;
}

.footer-logo img{
    width: 45px;
    height: 40px;

}

.footer-description{
    margin-top: 0px;
    /* margin-bottom: -10px; */
    margin-bottom: 0px;
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
}
.social-icons{
    padding-top: 15px;
    padding-bottom: 40px;
    border-bottom:1px solid rgba(19, 19, 24, 0.1);
}
.social-icons i{
    font-size: 1.5rem;
    margin-right: 30px;
}

.rights{
    font-size: 16px;
    color: rgb(19, 19, 24);
    padding-top: 30px;
}













/* phone responsive */
@media screen and (max-width:600px) {

/* header  */  
.header-wrapper{
    margin: 10px;
}
    .web-name{
        gap: 10px;
        align-items: center;
    }
    .web-name img{
        width: 40px;
        height: 33px;
    
    }
 

    .web-title{
        /* max-width: 280px; */
        font-size: 1.5rem;
        /* margin-bottom: 15px; */
    }
    .bars{
        display: block;
        margin-left: 60px;
    }

    .nav-pages{
        display: none;
    }

   
/* main */
main section{
    margin: 24px auto;
}

.section-title{
    font-size: 1.5rem;
}
/* banner */
.banner{
    margin-bottom: -60px;
}

    .banner-wrapper{
         /* width: 100%;  */
        /* margin-bottom: 0px; */
        margin-left: 10px;
        margin-right: 10px;

        
    
    } 


    .banner-title{
        max-width: 225px;
        margin: 0px auto;
        font-size: 1.5rem;
    }

    .banner-description{
        font-size: 0.8rem;
        line-height: 21px;
        margin: 8px 15px 30px;
    }

    .finding-place{
        flex-direction: column;
        margin: 0px 24px;
    }

    /* secA */
    .secA{
        flex-direction: column;
        gap: 24px;
    }
    .secA-column{
        padding: 10px;
    }

   
    .secA-column img{
        width: 100%;
    }


/* secB */
.center-description{
    margin: 16px 10px;
    padding: 0px 10px;
}
 .row{
    flex-direction: column;
    gap: 16px; 
    margin-bottom: 16px; 
    

}  
.row .Maldives,.Indonesia,.Srilanka,.North-America,.Kashmir,.Bangladesh,.Bandarban{
    padding: 75px 120px;
    margin: 0px 10px;
}
.North-America{
    padding: 75px 118px;
}
.Kashmir{
    padding-left: 28px;
}
.destination-img-text{
    text-align: center;
    font-size:1.25rem;
    font-weight: 700;

}

    
 
 

/* footer */
 .footer-wrapper{
    padding: 30px;
 }

 .social-icons{
    padding: o;
 }
}